INFURA_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
MNEMONIC="here is where your twelve words mnemonic should be put my friend"
PRIVATE_KEYS="" # Comma separated. If PRIVATE_KEYS has a value, MNEMONIC is invalidated

# Block explorer API keys
ARBISCAN_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
BSCSCAN_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
ETHERSCAN_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
OPTIMISM_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
POLYGONSCAN_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
SNOWTRACE_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"

# Coinmarketcap for gasReporter
COINMARKETCAP_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"

# Contracts & Params
VPOINTS_FACTORY=""
VPOINTS=""
VPOINTS_OWNER=""
VPOINTS_MINER=""